<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERAKI-JSSATEB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css' )}}">
  </head>

  <body>

    <header>

      <nav>

        <div style="display: inline-block; margin-right: 1000px;">
          <img src="static/logo.png" alt="XPrep">
        </div>
        <button>NOTIFICATIONS</button>
        <button>PROFILE</button>
        <button>LOGOUT</button>
      </nav>

    </header>
    
    {% if works %}
    <table>
      <thead>
        <tr>
          <th>WORKS</th>
        </tr>
      </thead>
      <tbody>
        {% for i in works %}
          <tr>
            <td>{{ i.work }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
      <h1>NO WORK YET !</h1>
    {% endif %}


  </body>
</html>