<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERAKI-JSSATEB</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css' )}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  </head>

  <body>

    <header>
      <nav class="navbar">
        <div class="title">
          <a href="{{url_for('home')}}" class="title">MERAKI</a>
        </div>
        <div class="nav-links">
          <a href="#">PROFILE</a>
          <a href="#">LOGOUT</a>
          <a href="{{ url_for('show_works') }}">WORKS</a>
          <a href="{{ url_for('show_news') }}">ANNOUNCEMENTS</a>
        </div>
      </nav>
    </header>
    {% if your_news %}
      <table>
        <thead>
          <tr>
            
            <th>YOUR ANNOUNCEMENT</th>
            <th>DELETE</th>
          </tr>
        </thead>
        <tbody>
          {% for i in your_news %}
            <tr>
              
              <td>{{i.news}}</td>
              <td><form class="delete-btn" action="/delete_news" method="post">
                <input type="hidden" name="news" value="{{ i.news }}">
                <button type="submit"><i class="fas fa-trash"></i></button>
              </form>              
              </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div class="no-your_news">
      <h1>📭 Haven’t Shared Any Announcements Yet</h1>
      <p>It seems like there’s nothing here for now. Share your thoughts and make the first announcement! 🌟</p>
    </div>
    
    
    {% endif %}
  </body>
</html>